{% extends 'base.html' %} {% load static %} {% block title %}Home{% endblock title %}
{% block main-content %}
<!-- 1st Product Slider -->
<div class="m-3">
  <h2>VEGETARIAN :</h2>
  <!-- Slider 1 -->
  <div class="owl-carousel" id="slider1">
    {% for v in vegetarian %}
    <a href="{% url 'product-detail' v.id %}" class="btn"
      ><div class="item">
        <img src="{{v.image.url}}" alt="" height="200px" width="200px" />
        <br/>
        <span class="fw-bold">{{v.title}}</span>
          
        <br /><span class="fs-5">$ {{v.price}}</span>
      </div></a>
    {%endfor%}
  </div>
</div>
<!-- End 1st Product Slider -->

<!-- 2nd Product Slider -->
<div class="mx-3">
  <h2>NON-VEGETARIAN :</h2>
  <!-- Slider 2 -->
  <div class="owl-carousel" id="slider2">
    {% for n in Nonveg %}
    <a href="{% url 'product-detail' n.id %}" class="btn"
      ><div class="item">
        <img src="{{n.image.url}}" alt="" height="200px" width="200px"/><span class="fw-bold"
          >{{n.title}}</span
        ><br /><span class="fs-5">$ {{n.price}}</span>
      </div></a>
    {%endfor%}
  </div>
</div>
<!-- End 2nd Product Slider -->

<!-- 3rd Product Slider -->
<div class="mx-3">
  <h2>DRINKS :</h2>
  <!-- Slider 2 -->
  <div class="owl-carousel" id="slider3">
    {% for d in drinks %}
    <a href="{% url 'product-detail' d.id %}" class="btn"
      ><div class="item">
        <img src="{{d.image.url}}" alt="" height="200px" width="200px"/><span class="fw-bold"
          >{{d.title}}</span
        ><br /><span class="fs-5">$ {{d.price}}</span>
      </div></a>
    {%endfor%}
  </div>
</div>
<!-- End 3rd Product Slider -->
{% endblock main-content %}
