<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <!--Owl Carousel CSS-->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />

    <!--FontAwesome CSS-->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}" />

    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <title>Taste Of India | {% block title %} Review{% endblock title %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="/">Taste of India</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
          </ul>
        <div>
      </div>
    </nav>
    <div class="container my-5">
      <div class="row">
        <h1 class="text-center mb-5">Recent Review</h1>
        <div class="col-sm-8">
          <div class="card">
            <div class="card-body">
              <h3>Review</h3>
              {% for review in recent_reviews %}
              <div class="row">
                <div class="col-sm-3 text-center align-self-center">
                  <p>{{review.user.name}} says: {{review.content}}</p>
                  <p>Rating: {{review.rating}} stars</p>
                  <p>Posted on: {{review.created_at}}</p>
                  <p>
                  {% if user in review.review_by.all %}
                    <a href="reviews/{{ review.id }}/unlike">unLike</a
                      >{{review.review_by.count}} {% else %}
                    <a href="reviews/{{ review.id }}/like">Like</a
                      >{{review.review_by.count}} {% endif %}
                  </p>
                  <p>
                  {% if review.user.id == request.session.user_id %}
                    <a href="reviews/{{review.id}}/delete">Delete this review</a>
                  </p>
                  {% endif %} 
                </div>
              </div>
              <hr />
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h3>Add your Review</h3>
              <form action="add_review" method="POST">
                {% csrf_token %}
                <label for="review">Add a review:</label>
                <textarea name="review" rows="4" cols="40"></textarea><br />
                <label for="rating">Rating:</label>
                <select name="rating">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                <hr>
                <div>
                  <input type="submit" value="Submit Review" />
                </div> 
              </form>
              {% if messages %}
              {% for message in messages %}
                <p {% if meassage.tags %} class= "alert alert-{{message.tags}} mb-5" {% endif %}>{{message}}</p>
              {% endfor %}
              {% endif%}
            </div>
        </div>
      </div>
    </div>
  </body>
</html>



